<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title> mysystem </title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    </head>
    <body class="text-center" cz-shortcut-listen="true">
        <main class="form-signin w-25 m-auto">
            <span class="mb-0 text-danger">
                {% if msg %}
                    {{ msg | safe }}
                {% endif %}
            </span>
            <form method="post">{% csrf_token %}
                <fieldset class="">
                    <div class="form-row field-email">
                        <label for="id_email"></label>
                        <input type="email" name="email" class="form-control form-control-lg form-control-solid" autocomplete="off" id="floatingInput" placeholder="email" required="">
                    </div>
                    <input type="submit" value="reset my passwor">
                </fieldset>
            </form>
        </main>
    </body>
</html>